<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Get a room:</h3>
        <button class="btn btn-primary btn-xs" data-ng-click="logout()">logout</button>
    </div>
    <ul class="list-group">
        <li data-ng-repeat="room in rooms" class="list-group-item"><a href="/chatroom/{{room._id}}">{{ room.title }}</a></li>
    </ul>
    <div class="input-group">
        <input type="text" class="form-control" id="room-title" placeholder="Name for the new board">
        <div class="input-group-btn">
            <button class="btn btn-default" data-ng-click="newRoom()" type="button">Create new board</button>
        </div>
    </div>
</div>
